# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
google-service-account.json

# Environment
.env
.env.*
!.env.example

# Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
